:root {
    --dark-yellow: #F9A826;
    --dark-blue: #3F3D56; 
    --light-yellow: #f9a826c0;
    --light-grey: #F5F5F5;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

/* Navigation */
.navbar {
    background-color: #b33cfd00 !important;
    box-shadow: none;
}

.dropdown-menu {
    background-color: #B23CFD !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: white !important;
    color: #b33cfd !important;
}

@media (min-width: 992px) {
    .nav-link {
        font-size: larger !important;
        padding: 1rem !important;
    }
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(246, 211, 101, 0.3), rgba(253, 160, 133, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(246, 211, 101, 0.3), rgba(253, 160, 133, 0.4))
}

.bg-col {
    background-color: var(--light-grey) !important;
}

.bg-image {
    background-position: 23% 60%;
}

.main-formula {
    background-color: #f7f7f7 !important;
}

.text-black {
    color: var(--dark-blue) !important;
}

/* Landing page */
#intro {
    background-image: url("../img/kid_breaking_wall.jpg");
    height: 100vh !important;
}

header h1 {
    text-shadow: 3px 2px 3px rgba(150, 150, 150, 0.7);
}

@media (min-width: 1200px) {
    header .mpt {
        margin-right: 9% !important;
    }
}

@media (min-width: 1400px) {
    header .mpt {
        margin-right: 15% !important;
    }
}

/* About us page */
.main-button {
    background-color: var(--light-yellow);
}

.about-page-content {
    max-width: 1400px;
}

@media (min-width: 1440px) {
    .container-about {
        padding: 3rem;
    }

    .carousel {
        padding: 3rem;
    }
}


/* Contact form */

.contact {
    background-color: white;
}

.contact-form {
    background-color: rgb(230, 230, 230);
}

.left-form {
    background-color: var(--light-yellow);
}

.right-form {
    background-color: white;
}

.right-form button {
    background-color: var(--light-yellow);
}

.contact-form i:hover {
    color: #B23CFD;
}

.contact-form a:hover {
    text-decoration: underline;
}


/* Footer */
.attributions {

    /* fallback for old browsers */
    background: #d1a8f0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(209, 168, 240, 0.2), rgba(246, 243, 255, 0.2));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(209, 168, 240, 0.2), rgba(246, 243, 255, 0.2))
}

.attributions a {
    color: #FFD39A;
}

/* Back-to-top button */
@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
        opacity:1;
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
    animation: fadeIn ease 1s;
}
